In [2]:
import requests
r = requests.get("https://www.petplanet.co.uk/d7/dog_food?page_size=1078")

In [3]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(r.text, 'html.parser')

In [10]:
products = soup.find_all("div", attrs={"class":"item"})

In [11]:
len(products)

1078

In [13]:
first_product = products[1]

In [34]:
# gets the value from an atribute wich is the name
actual_product = first_product.a["title"]
# attribute = actual_product["title"]
print(actual_product)

Natures Menu Mini Dog Treats 60g

In [37]:
# now this is the current price
first_product.find("span", attrs={"class":"price right"}).text

'£2.19'

In [33]:
# this is the old price some of them have no old price
# first_product.find("span", attrs={"class":"price-old"})

In [38]:
data = []
for product in products:
    name = product.a["title"]
    price = product.find("span", attrs={"class":"price right"}).text
    data.append((name, price))

In [39]:
len(data)

1078

In [40]:
import pandas as pd
df = pd.DataFrame(data, columns=['name', 'price'])

In [41]:
df.head()

                                                name    price
0  Orijen Original Grain Free Dry Dog Food - 11.4...   £69.99
1                   Natures Menu Mini Dog Treats 60g    £2.19
2    Nylabone Chicken Puppy Bone Triple Pack - Small    £6.99
3  2 x Orijen Original Grain Free Dry Dog Food - ...  £135.98
4           James Wellbeloved Adult Dry Dog Food 2kg    £6.99

In [42]:
df.to_csv('Petplanet.csv', index=False, encoding='utf-8')